.aboutimg
{
    width: 700px;
    padding: 70px;
    float: left;
}
.Welcome_to_Our_Driving_School
{
    padding-left: 740px;
    padding-top: 80px;
}
.innerdiv
{
    font-family: "Bold Italic Art";
    font-size: 50px;
    padding-left: 670px;
}
.innerdiv2
{
    font-family: "Bold Italic Art";
    font-size: 50px;
    padding-left: 620px;
}